.Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-image: linear-gradient(to right, rgb(242, 226, 226) , rgb(234, 234, 212));
  width: 100%;
  .content {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    display: column;
    // border: 1px solid white;
    .product {
      display: flex;
      justify-content: space-between;
      place-items: center;
      width: 100%;
      height: 10rem;
      margin: 0.5rem;
      padding: 0.3em;
      border: 1px solid white;
      &:hover {
        background-color: white;
      }
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      img {
        width: 12rem;
        height: 100%;
      }
      .name {
        font-weight: bold;
        font-size: 1.5em;
        color: grey;
        padding-bottom: 1em;
      }
      input {
        background-color: transparent;
        width: 50px;
        color: green;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        text-align: center;
        padding: 5px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      button {
        background: transparent;
        border: none;
        color: green;
        font-size: 1rem;
        padding: 5px;
      }
      .price{
        padding-right: 1.5rem;
      }
    }
  }
  .summary {
    width: 80%;
    // margin: 1px auto;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    place-items: start;
    // border: 1px solid #ccc;
    padding: 0;
    padding-left: 1em;
    h2 {
      justify-content: start;
      margin: 0;
      padding: 0;
        font-weight: bold;
    }
    .content {
      display: column;
      width: 100%;
      margin: 0;
      padding: 0;
      .order {
        display: flex;
        justify-content: space-between;
    }
        .total {
            font-weight: bold;
      }
    }
    button {
        border-radius: 5px;
        border: none;
        font-size: 0.8rem;
        color: rgb(29, 27, 27);
        background-color: rgb(240, 216, 216);
        text-decoration: none;
        padding: 0.6rem 3rem;
        text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 15px white;
        &:hover {
          box-shadow: 1px 1px 2px white, 0 0 15px white, 0 0 15px white;
          text-shadow: 1px 1px 2px black, 0 0 15px white, 0 0 15px white;
        }
      }
  }
}
